@import "font/noto-sans-kr.css";
/* basic */
html {
  min-width: 360px;
  max-width: 100%;
  font-size: 14px;
  min-height: 100%;
}
@media (max-width: 375px) {
  html {
    font-size: 14px;
  }
}
@media (min-width: 376px) and (max-width: 480px) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 481px) {
  html {
    font-size: 22px;
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 14px;
  }
}
body {
  font-family: "Noto Sans KR", "Malgun Gothic", "apple sd gothic neo", sans-serif;
  font-family: "Noto Sans KR";
  letter-spacing: -0.75px;
  height: 100vh;
}
ul,
p,
h1,
h2,
h3,
dl {
  margin: 0;
  padding: 0;
}
i[class*="fas"] span {
  font-size: 0;
}
.container {
  position: relative;
}
.header {
  position: relative;
  z-index: 10000;
  width: 100%;
  min-width: 360px;
  background-color: #fff;
  word-break: keep-all;
}
.header div.header-tools {
  display: none;
}
@media (min-width: 1200px) {
  .header div.header-tools {
    display: block;
    background: #F5F5F5;
    line-height: 36px;
  }
  .header div.header-tools a {
    color: #888888;
  }
}
.header > .container {
  height: 3.57142857rem;
}
@media (min-width: 1200px) {
  .header > .container {
    height: 114px;
    padding: 0;
  }
}
.header > .container h1 {
  display: block;
  width: 8.57142857rem;
  height: 2.42857143rem;
  margin: 0.85714286rem auto 0;
}
@media (min-width: 1200px) {
  .header > .container h1 {
    margin: 22px auto 0;
    width: 242px;
    height: 68px;
  }
}
.header > .container h1 a {
  display: block;
  font-size: 0;
  height: 100%;
  background: url(../images/logo.svg) no-repeat center;
}
.header > .container .header-right-btn .search-view {
  display: block;
  width: 1.57142857rem;
  height: 1.57142857rem;
  position: absolute;
  right: 2.85714286rem;
  top: 1rem;
  background: url(../images/i_search.svg) no-repeat center / 86% auto;
  font-size: 0;
}
@media (min-width: 1200px) {
  .header > .container .header-right-btn .search-view {
    top: 44px;
    right: 125px;
    width: 220px;
    height: 34px;
    background-size: auto 70%;
    border-bottom: 2px solid #333333;
    background-position: right center;
  }
  .header > .container .header-right-btn .search-view span {
    display: block;
    padding: 4px 0 0;
    font-size: 13px;
    color: #A4A4A4;
    cursor: pointer;
  }
  .header > .container .header-right-btn .search-view:hover {
    text-decoration: none;
  }
}
.header > .container .header-right-btn .cart {
  display: inline-block;
  width: 1.57142857rem;
  height: 1.57142857rem;
  position: absolute;
  right: 1.07142857rem;
  top: 1rem;
  background: url(../images/i_cart.svg) no-repeat center / 100% auto;
  font-size: 0;
}
@media (min-width: 1200px) {
  .header > .container .header-right-btn .cart {
    top: 48px;
    right: 70px;
    width: 28px;
    height: 24px;
  }
}
.header > .container .header-right-btn .mypage {
  display: none;
}
@media (min-width: 1200px) {
  .header > .container .header-right-btn .mypage {
    position: absolute;
    display: block;
    right: 15px;
    font-size: 0;
    top: 48px;
    width: 24px;
    height: 24px;
    background: url(../images/i_my.svg) no-repeat center / 100% auto;
  }
}
.header > .container .header-right-btn .menu-view {
  display: block;
  width: 1.57142857rem;
  height: 1.57142857rem;
  position: absolute;
  z-index: 100;
  left: 1.07142857rem;
  top: 1rem;
  background: url(../images/menu.svg) no-repeat center / 100% auto;
  background-size: 1.07142857rem auto;
  font-size: 0;
}
@media (min-width: 1200px) {
  .header > .container .header-right-btn .menu-view {
    width: auto;
    height: auto;
    font-size: 17px;
    left: 0;
    top: 130px;
    padding: 0 0 0 35px;
    font-weight: 700;
    color: #333333;
    background: url(../images/category.svg) no-repeat left center / 20px auto;
  }
}
.header div.main-menu {
  border-top: 1px solid #E8E8E8;
  overflow-x: auto;
}
.header div.main-menu div.container {
  height: 2.85714286rem;
  white-space: nowrap;
}
@media (min-width: 1200px) {
  .header div.main-menu div.container {
    height: 56px;
  }
}
@media (min-width: 1200px) {
  .header div.main-menu div.container {
    padding: 0 0 0 140px;
    display: flex;
  }
}
.header div.main-menu div.container a {
  display: inline-block;
  text-align: right;
  font-size: 1rem;
  font-weight: 700;
  color: #333333;
  line-height: 2.85714286rem;
  margin-right: 1.42857143rem;
}
@media (min-width: 1200px) {
  .header div.main-menu div.container a {
    display: block;
    flex-grow: 1;
    font-size: 17px;
    line-height: 56px;
  }
}
.header-search {
  display: none;
  position: fixed;
  z-index: 10002;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #fff;
  text-align: center;
}
@media (min-width: 1200px) {
  .header-search {
    position: absolute;
    left: 50%;
    margin-left: 185px;
    width: 400px;
    right: auto;
    bottom: auto;
    top: 53px;
    border-radius: 5px;
    border: 1px solid #DDDDDD;
    padding: 10px 30px 80px;
    box-shadow: 0px 6px 6px #00000029;
  }
}
.header-search.on {
  display: block;
}
.header-search fieldset form input {
  width: 100%;
  border: none;
  border-bottom: 2px solid #333333;
  height: 3.57142857rem;
  padding: 0 7.14285714rem 0 1.42857143rem;
}
@media (min-width: 1200px) {
  .header-search fieldset form input {
    padding: 0;
  }
}
.header-search fieldset form button {
  position: absolute;
  right: 3.92857143rem;
  top: 0.35714286rem;
  width: 2.85714286rem;
  height: 2.85714286rem;
  background: url(../images/i_search.svg) no-repeat center / 60% auto;
  font-size: 0;
  border: none;
}
@media (min-width: 1200px) {
  .header-search fieldset form button {
    top: 15px;
    right: 30px;
  }
}
.header-search dl {
  margin: 1.78571429rem 0 0;
  text-align: left;
  padding: 0 1.07142857rem;
}
@media (min-width: 1200px) {
  .header-search dl {
    margin: 20px 0 0;
  }
}
.header-search dl dt {
  font-size: 1.07142857rem;
  margin: 1.78571429rem 0 1.07142857rem;
}
@media (min-width: 1200px) {
  .header-search dl dt {
    font-size: 16px;
  }
}
.header-search dl dd {
  font-size: 0;
}
.header-search dl dd:first-of-type {
  border-bottom: 1px solid #ccc;
}
.header-search dl dd.none {
  line-height: 10.71428571rem;
  text-align: center;
  font-size: 1rem;
  color: #A4A4A4;
}
@media (min-width: 1200px) {
  .header-search dl dd.none {
    line-height: 80px;
  }
}
.header-search dl dd button {
  font-size: 1rem;
  color: #666666;
  height: 2.14285714rem;
  padding: 0 1.07142857rem;
  background: #F6F6F6;
  border-radius: 2.14285714rem;
  margin-right: 0.35714286rem;
  border: none;
}
.header-search button.search-close {
  position: absolute;
  right: 1.07142857rem;
  top: 0.85714286rem;
  width: 2.85714286rem;
  height: 1.85714286rem;
  font-size: 0.85714286rem;
  color: #fff;
  border-radius: 26px;
  border: none;
  background: #222222;
}
@media (min-width: 1200px) {
  .header-search button.search-close {
    top: auto;
    bottom: 20px;
    width: auto;
    right: 30px;
    font-size: 13px;
    border-radius: 30px;
    padding: 0 15px;
  }
}
@media (max-width: 1199px) {
  nav#allMenu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10002;
    background: #fff;
  }
  nav#allMenu.on {
    display: block;
  }
  nav#allMenu p.tools {
    background: #007887;
    line-height: 3.57142857rem;
    padding: 0 1.78571429rem;
  }
  nav#allMenu p.tools a {
    position: relative;
    display: inline-block;
    color: #fff;
    margin-right: 0.71428571rem;
    padding-right: 0.71428571rem;
  }
  nav#allMenu p.tools a:before {
    content: "·";
    display: block;
    position: absolute;
    right: 0;
  }
  nav#allMenu p.tools a:last-of-type:before {
    display: none;
  }
  nav#allMenu div.outline {
    padding: 1.78571429rem 0 0;
  }
  nav#allMenu div.outline button.menu-close {
    position: absolute;
    right: 0.57142857rem;
    top: 0.42857143rem;
    width: 2.85714286rem;
    height: 2.85714286rem;
    border: none;
    font-size: 0;
    background: url(../images/close.svg) no-repeat center;
    background-size: 0.92857143rem auto;
  }
  nav#allMenu div.outline h2 {
    font-size: 1.07142857rem;
    padding: 0 1.78571429rem 1.07142857rem;
    font-weight: 900;
    border-bottom: 1px solid #ccc;
  }
  nav#allMenu div.outline > div {
    border-bottom: 1px solid #ccc;
  }
  nav#allMenu div.outline > div h3 a {
    display: block;
    position: relative;
    line-height: 3rem;
    font-size: 1.07142857rem;
    padding: 0 1.78571429rem;
    color: #666666;
  }
  nav#allMenu div.outline > div h3 a i {
    position: absolute;
    right: 1.78571429rem;
    top: 1.07142857rem;
    transform: rotate(90deg);
    color: #666666;
    font-size: 0.71428571rem;
  }
  nav#allMenu div.outline > div h3.active a {
    color: #007887;
    font-weight: 700;
  }
  nav#allMenu div.outline > div > ul {
    display: none;
    padding: 1.78571429rem 1.78571429rem 1.07142857rem;
  }
  nav#allMenu div.outline > div > ul.on {
    display: block;
    background: #F6F6F6;
  }
  nav#allMenu div.outline > div > ul > li {
    display: inline-block;
    width: calc(100% / 3);
    margin-bottom: 0.71428571rem;
  }
  nav#allMenu div.outline > div > ul > li a {
    font-size: 1rem;
    color: #666666;
  }
}
@media (min-width: 1200px) {
  nav#allMenu {
    overflow-y: auto;
  }
  nav#allMenu p.tools {
    position: absolute;
    left: 50%;
    top: 8px;
    margin-left: 440px;
    z-index: 10001;
  }
  nav#allMenu p.tools a {
    display: inline-block;
    position: relative;
    font-size: 14px;
    color: #555;
    margin-left: 13px;
    padding-left: 13px;
  }
  nav#allMenu p.tools a:before {
    content: "·";
    display: block;
    position: absolute;
    left: -2px;
  }
  nav#allMenu p.tools a:first-of-type:before {
    display: none;
  }
  nav#allMenu p.tools a.mypage {
    display: none;
  }
  nav#allMenu .outline {
    display: none;
    position: absolute;
    z-index: 10001;
    left: 50%;
    margin-left: -600px;
    background: #fff;
    top: 206px;
    width: 180px;
    min-height: 400px;
    padding: 0;
    text-align: left;
    box-shadow: 0px 6px 6px #00000029;
  }
  nav#allMenu .outline button.menu-close {
    display: none;
  }
  nav#allMenu .outline h2 {
    display: none;
  }
  nav#allMenu .outline > div h3 a {
    position: relative;
    display: block;
    font-size: 15px;
    line-height: 45px;
    color: #555;
    padding: 0 20px;
  }
  nav#allMenu .outline > div h3 a i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: transparent;
    font-size: 13px;
  }
  nav#allMenu .outline > div h3 a:hover {
    color: #007887;
    font-weight: 700;
    background: #F5F5F5;
  }
  nav#allMenu .outline > div h3 a:hover i {
    color: #999;
  }
  nav#allMenu .outline > div ul {
    display: none;
  }
  nav#allMenu .outline > div ul.on {
    display: block;
    width: 180px;
    position: absolute;
    right: -180px;
    top: 0;
    bottom: 0;
    background: #fff;
    font-size: 15px;
    box-shadow: 0px 6px 6px #00000029;
  }
  nav#allMenu .outline > div ul.on li a {
    display: block;
    line-height: 45px;
    padding: 0 20px;
    color: #666666;
  }
  nav#allMenu .outline > div ul.on li a:hover,
  nav#allMenu .outline > div ul.on li a.active {
    color: #007887;
  }
  nav#allMenu.on .outline {
    display: block;
  }
}
section.main {
  position: relative;
}
section.main div.main-top {
  position: relative;
  border-bottom: 1px solid #E3E3E3;
  height: 26.78571429rem;
  text-align: center;
  padding-top: 5rem;
  margin-bottom: 7.14285714rem;
  background: url(../images/main/main_img_m.jpg) no-repeat center / cover;
}
@media (min-width: 1200px) {
  section.main div.main-top {
    padding-top: 190px;
    height: 670px;
    margin-bottom: 40px;
    background: url(../images/main/main_img.jpg) no-repeat center / cover;
  }
}
section.main div.main-top > strong {
  color: #fff;
  font-weight: 200;
  font-size: 1.85714286rem;
  letter-spacing: -0.14285714rem;
}
@media (min-width: 1200px) {
  section.main div.main-top > strong {
    font-size: 50px;
  }
}
section.main div.main-top > strong p {
  margin: 0;
}
section.main div.main-top > strong p u {
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  padding: 0 0.35714286rem 0.35714286rem 0;
  background: url(../images/main/visual_txt_line.png) no-repeat right bottom / 100% auto;
}
@media (min-width: 1200px) {
  section.main div.main-top > strong p u {
    font-weight: 600;
    padding: 0 10px 10px 0;
  }
}
section.main div.main-top div.top-links {
  text-align: center;
  font-size: 0;
  margin: 5.71428571rem 0 0;
}
@media (min-width: 1200px) {
  section.main div.main-top div.top-links {
    position: absolute;
    left: 50%;
    bottom: 58px;
    margin: 0 0 0 -580px;
  }
}
section.main div.main-top div.top-links a {
  display: inline-block;
  min-width: 3.57142857rem;
  padding: 0 0.35714286rem;
  font-size: 0.92857143rem;
  color: #fff;
  letter-spacing: -0.07142857rem;
}
@media (min-width: 1200px) {
  section.main div.main-top div.top-links a {
    font-size: 18px;
    padding: 0 30px;
  }
  section.main div.main-top div.top-links a:first-of-type {
    padding: 0 30px 0 0;
  }
}
section.main div.main-top div.top-links a:before {
  content: "";
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  background: #000;
  margin: 0 auto 0.42857143rem;
}
@media (min-width: 1200px) {
  section.main div.main-top div.top-links a:before {
    width: 58px;
    height: 58px;
    margin: 0 auto 16px;
  }
}
section.main div.main-top div.top-links a.link01:before {
  background: url(../images/main/ic_01.svg) no-repeat center;
}
section.main div.main-top div.top-links a.link02:before {
  background: url(../images/main/ic_02.svg) no-repeat center;
}
section.main div.main-top div.top-links a.link03:before {
  background: url(../images/main/ic_03.svg) no-repeat center;
}
section.main div.main-top div.top-links a.link04:before {
  background: url(../images/main/ic_04.svg) no-repeat center;
}
section.main div.main-top div.top-links a.link05:before {
  background: url(../images/main/ic_05.svg) no-repeat center;
}
section.main div.main-top div.information {
  position: absolute;
  text-align: left;
  color: #fff;
  padding: 1.71428571rem;
  bottom: -7.14285714rem;
  left: 1.07142857rem;
  right: 1.07142857rem;
  height: 11.57142857rem;
  background: url(../images/main/guide_bg_m.jpg) no-repeat #344250 right top / auto 100%;
}
@media (min-width: 1200px) {
  section.main div.main-top div.information {
    left: auto;
    right: 50%;
    margin-right: -600px;
    bottom: -30px;
    padding: 25px 38px;
    width: 460px;
    height: 226px;
    background: url(../images/main/guide_bg.jpg) no-repeat #344250 right top / auto 100%;
  }
}
section.main div.main-top div.information strong {
  display: block;
  font-size: 1.35714286rem;
  font-weight: 600;
  margin-bottom: 1rem;
  line-height: 1.2;
}
@media (min-width: 1200px) {
  section.main div.main-top div.information strong {
    font-size: 26px;
    margin-bottom: 20px;
  }
}
section.main div.main-top div.information strong span {
  display: block;
}
section.main div.main-top div.information p {
  font-size: 0.92857143rem;
  word-break: keep-all;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (min-width: 1200px) {
  section.main div.main-top div.information p {
    font-size: 16px;
    line-height: 1.6;
  }
}
section.main div.main-top div.information p span {
  display: inline-block;
  padding-right: 1rem;
}
section.main div.main-exhibition {
  position: relative;
  overflow: hidden;
  background: url(../images/main/bg_txt.png) no-repeat;
  padding: 3.57142857rem 0;
  background-size: 96% auto;
  background-position: center 1.42857143rem;
}
@media (min-width: 1200px) {
  section.main div.main-exhibition {
    height: 792px;
    background-size: 1320px auto;
    background-position: left 60px;
    padding: 204px 0 0 0;
  }
}
@media (min-width: 1200px) {
  section.main div.main-exhibition div.container {
    position: absolute;
    left: 50%;
    right: 0;
    margin-left: -300px;
    width: auto;
    padding: 0;
  }
}
section.main div.main-exhibition div.container h3 {
  text-align: center;
  font-size: 1.64285714rem;
  margin: 0 0 5.42857143rem;
}
@media (min-width: 1200px) {
  section.main div.main-exhibition div.container h3 {
    position: absolute;
    left: -300px;
    text-align: left;
    font-size: 26px;
    font-weight: 600;
  }
}
section.main div.main-exhibition div.container h3 small {
  display: block;
  font-size: 0.92857143rem;
}
@media (min-width: 1200px) {
  section.main div.main-exhibition div.container h3 small {
    padding-top: 20px;
    font-size: 16px;
    line-height: 1.6;
  }
  section.main div.main-exhibition div.container h3 small span {
    display: block;
  }
}
section.main div.main-exhibition div.container div.slider-tools {
  position: absolute;
  top: 4.71428571rem;
  left: 0;
  right: 0;
  text-align: center;
}
@media (min-width: 1200px) {
  section.main div.main-exhibition div.container div.slider-tools {
    left: -300px;
    right: auto;
    top: 120px;
    font-size: 26px;
    font-weight: 600;
  }
}
section.main div.main-exhibition div.container div.slider-tools .swiper-pagination {
  position: static;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  width: auto;
  font-size: 0.85714286rem;
  line-height: 2rem;
  padding: 0 0.71428571rem;
}
@media (min-width: 1200px) {
  section.main div.main-exhibition div.container div.slider-tools .swiper-pagination {
    font-size: 15px;
    line-height: 36px;
  }
}
section.main div.main-exhibition div.container div.slider-tools a.more {
  display: inline-block;
  vertical-align: top;
  font-size: 0.85714286rem;
  margin: 0.71428571rem 1.42857143rem 0 0;
  padding: 0 0.71428571rem;
  width: 3rem;
  height: 1.14285714rem;
  font-size: 0;
  background: url(../images/main/more_m.png) no-repeat center / 100% auto;
}
@media (min-width: 1200px) {
  section.main div.main-exhibition div.container div.slider-tools a.more {
    display: block;
    width: 52px;
    height: 20px;
    margin: 0 0 46px;
    background: url(../images/main/more.png) no-repeat center / 100% auto;
  }
}
section.main div.main-exhibition div.container div.slider-tools .swiper1-button-next,
section.main div.main-exhibition div.container div.slider-tools .swiper1-button-prev {
  position: static;
  display: inline-block;
  margin: 0;
  width: 2rem;
  height: 2rem;
  border: 1px solid #3F434C;
}
@media (min-width: 1200px) {
  section.main div.main-exhibition div.container div.slider-tools .swiper1-button-next,
  section.main div.main-exhibition div.container div.slider-tools .swiper1-button-prev {
    width: 36px;
    height: 36px;
  }
}
section.main div.main-exhibition div.container div.slider-tools .swiper1-button-next.swiper1-button-prev,
section.main div.main-exhibition div.container div.slider-tools .swiper1-button-prev.swiper1-button-prev {
  background: url(../images/main/arrow_left_m.png) no-repeat center;
  background-size: 0.78571429rem auto;
}
section.main div.main-exhibition div.container div.slider-tools .swiper1-button-next.swiper1-button-next,
section.main div.main-exhibition div.container div.slider-tools .swiper1-button-prev.swiper1-button-next {
  background: url(../images/main/arrow_right_m.png) no-repeat center;
  background-size: 0.78571429rem auto;
}
@media (min-width: 1200px) {
  section.main div.main-exhibition div.container div.exhibition-slider {
    overflow: hidden;
    padding-left: 10px;
  }
}
@media (min-width: 1200px) {
  section.main div.main-exhibition div.container div.exhibition-slider div.swiper-wrapper {
    padding: 50px 0;
  }
}
section.main div.main-exhibition div.container div.exhibition-slider div.swiper-wrapper div.swiper-slide {
  text-align: center;
}
@media (min-width: 1200px) {
  section.main div.main-exhibition div.container div.exhibition-slider div.swiper-wrapper div.swiper-slide {
    width: 256px;
  }
}
section.main div.main-exhibition div.container div.exhibition-slider div.swiper-wrapper div.swiper-slide img {
  width: 16.42857143rem;
  height: 23.07142857rem;
  margin-bottom: 1.14285714rem;
  object-fit: cover;
}
@media (min-width: 1200px) {
  section.main div.main-exhibition div.container div.exhibition-slider div.swiper-wrapper div.swiper-slide img {
    width: 218px;
    height: 306px;
  }
}
section.main div.main-exhibition div.container div.exhibition-slider div.swiper-wrapper div.swiper-slide span {
  display: none;
  text-align: center;
  font-size: 1rem;
  word-break: keep-all;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #000;
}
@media (min-width: 1200px) {
  section.main div.main-exhibition div.container div.exhibition-slider div.swiper-wrapper div.swiper-slide span {
    font-size: 15px;
  }
}
section.main div.main-exhibition div.container div.exhibition-slider div.swiper-wrapper div.swiper-slide.swiper-slide-active img {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
}
@media (min-width: 1200px) {
  section.main div.main-exhibition div.container div.exhibition-slider div.swiper-wrapper div.swiper-slide.swiper-slide-active img {
    width: 256px;
    height: 360px;
  }
}
section.main div.main-exhibition div.container div.exhibition-slider div.swiper-wrapper div.swiper-slide.swiper-slide-active span {
  display: block;
}
section.main div.main-exhibition div.container div.exhibition-slider .swiper-scrollbar {
  display: none;
}
@media (min-width: 1200px) {
  section.main div.main-exhibition div.container div.exhibition-slider .swiper-scrollbar {
    display: block;
    width: 780px;
    bottom: -30px !important;
    height: 2px;
    background: #D3D3D3;
  }
  section.main div.main-exhibition div.container div.exhibition-slider .swiper-scrollbar .swiper-scrollbar-drag {
    background: #3F434C;
  }
}
section.main div.main-board {
  background: #F2F2F2;
  padding-bottom: 4.28571429rem;
}
@media (min-width: 1200px) {
  section.main div.main-board div.container {
    padding: 0;
  }
}
section.main div.main-board div.container div.notice {
  margin-top: 2.85714286rem;
}
@media (min-width: 1200px) {
  section.main div.main-board div.container div.notice {
    display: inline-block;
    vertical-align: top;
    margin: 62px 26px 0 0;
    width: 429px;
  }
}
section.main div.main-board div.container div.notice h3 {
  font-size: 1.64285714rem;
  font-weight: 600;
  margin: 0 0 1.42857143rem;
}
@media (min-width: 1200px) {
  section.main div.main-board div.container div.notice h3 {
    margin: 0 0 27px;
    font-size: 26px;
  }
}
section.main div.main-board div.container div.notice h3 a.more {
  display: inline-block;
  vertical-align: top;
  font-size: 0.85714286rem;
  margin: 0.57142857rem 1.42857143rem 0 1.42857143rem;
  padding: 0 0.71428571rem;
  width: 3rem;
  height: 1.14285714rem;
  font-size: 0;
  background: url(../images/main/more_m.png) no-repeat center / 100% auto;
}
@media (min-width: 1200px) {
  section.main div.main-board div.container div.notice h3 a.more {
    width: 52px;
    height: 20px;
    margin: 6px 0 0 20px;
    background: url(../images/main/more.png) no-repeat center / 100% auto;
  }
}
section.main div.main-board div.container div.notice p.headline {
  margin-bottom: 1.57142857rem;
}
@media (min-width: 1200px) {
  section.main div.main-board div.container div.notice p.headline {
    margin-bottom: 23px;
  }
}
section.main div.main-board div.container div.notice p.headline a {
  display: block;
  background: #fff;
  font-size: 0;
}
section.main div.main-board div.container div.notice p.headline a strong {
  display: inline-block;
  vertical-align: top;
  width: 4.85714286rem;
  height: 4.85714286rem;
  background: #3F434C;
  font-size: 0.85714286rem;
  color: #fff;
  font-weight: 400;
  text-align: center;
  padding-top: 0.85714286rem;
}
@media (min-width: 1200px) {
  section.main div.main-board div.container div.notice p.headline a strong {
    width: 88px;
    height: 88px;
    font-size: 16px;
    padding-top: 16px;
  }
}
section.main div.main-board div.container div.notice p.headline a strong u {
  text-decoration: none;
  display: block;
  font-size: 1.07142857rem;
}
@media (min-width: 1200px) {
  section.main div.main-board div.container div.notice p.headline a strong u {
    font-size: 20px;
  }
}
section.main div.main-board div.container div.notice p.headline a span {
  display: inline-block;
  vertical-align: top;
  font-size: 1rem;
  border: 1px solid #3F434C;
  width: calc(100% -  4.85714286rem);
  height: 4.85714286rem;
  line-height: 4.85714286rem;
  color: #000000;
  padding: 0 1.42857143rem;
  word-break: keep-all;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (min-width: 1200px) {
  section.main div.main-board div.container div.notice p.headline a span {
    width: calc(100% - 88px);
    height: 88px;
    line-height: 88px;
    font-size: 15px;
  }
}
section.main div.main-board div.container div.notice ul li a {
  display: block;
  position: relative;
  font-size: 1rem;
  padding: 0.35714286rem 5.28571429rem 0.35714286rem 0;
  color: #000;
  word-break: keep-all;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (min-width: 1200px) {
  section.main div.main-board div.container div.notice ul li a {
    font-size: 15px;
    padding: 10px 80px 10px 0;
  }
}
section.main div.main-board div.container div.notice ul li a i {
  position: absolute;
  display: block;
  right: 0;
  top: 0.35714286rem;
  color: #666666;
  font-style: normal;
}
@media (min-width: 1200px) {
  section.main div.main-board div.container div.notice ul li a i {
    top: 10px;
  }
}
section.main div.main-board div.container div.gallery {
  margin-top: 2.85714286rem;
  overflow: hidden;
}
@media (min-width: 1200px) {
  section.main div.main-board div.container div.gallery {
    display: inline-block;
    vertical-align: top;
    margin: 62px 26px 0 0;
    width: 430px;
  }
}
section.main div.main-board div.container div.gallery h3 {
  font-size: 1.64285714rem;
  font-weight: 600;
  margin: 0 0 1.42857143rem;
}
@media (min-width: 1200px) {
  section.main div.main-board div.container div.gallery h3 {
    margin: 0 0 27px;
    font-size: 26px;
  }
}
section.main div.main-board div.container div.gallery h3 a.more {
  display: inline-block;
  vertical-align: top;
  font-size: 0.85714286rem;
  margin: 0.57142857rem 1.42857143rem 0 1.42857143rem;
  padding: 0 0.71428571rem;
  width: 3rem;
  height: 1.14285714rem;
  font-size: 0;
  background: url(../images/main/more_m.png) no-repeat center / 100% auto;
}
@media (min-width: 1200px) {
  section.main div.main-board div.container div.gallery h3 a.more {
    width: 52px;
    height: 20px;
    margin: 6px 0 0 20px;
    background: url(../images/main/more.png) no-repeat center / 100% auto;
  }
}
section.main div.main-board div.container div.gallery div.gallery-slider {
  position: relative;
}
section.main div.main-board div.container div.gallery div.gallery-slider div.swiper-wrapper div.swiper-slide {
  width: 100%;
  height: 14.35714286rem;
}
@media (min-width: 1200px) {
  section.main div.main-board div.container div.gallery div.gallery-slider div.swiper-wrapper div.swiper-slide {
    width: 430px;
    height: 262px;
  }
}
section.main div.main-board div.container div.gallery div.gallery-slider div.swiper-wrapper div.swiper-slide img {
  display: none;
}
section.main div.main-board div.container div.gallery div.gallery-slider div.button {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 100;
  width: 1.64285714rem;
}
@media (min-width: 1200px) {
  section.main div.main-board div.container div.gallery div.gallery-slider div.button {
    width: 30px;
  }
}
section.main div.main-board div.container div.gallery div.gallery-slider div.button.swiper2-button-prev {
  left: 0;
  background: url(../images/main/arrow_left_white_m.png) no-repeat rgba(0, 0, 0, 0.3) center;
  background-size: 1rem auto;
}
section.main div.main-board div.container div.gallery div.gallery-slider div.button.swiper2-button-next {
  right: 0;
  background: url(../images/main/arrow_right_white_m.png) no-repeat rgba(0, 0, 0, 0.3) center;
  background-size: 1rem auto;
}
section.main div.main-board div.container div.hot {
  position: relative;
  margin-top: 2.85714286rem;
  overflow: hidden;
}
@media (min-width: 1200px) {
  section.main div.main-board div.container div.hot {
    display: inline-block;
    vertical-align: top;
    margin: 62px 0 0 0;
    width: 284px;
  }
}
section.main div.main-board div.container div.hot h3 {
  font-size: 1.64285714rem;
  font-weight: 600;
  margin: 0 0 1.42857143rem;
}
@media (min-width: 1200px) {
  section.main div.main-board div.container div.hot h3 {
    margin: 0 0 27px;
    font-size: 26px;
  }
}
section.main div.main-board div.container div.hot div.slider-tools {
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
}
@media (min-width: 1200px) {
  section.main div.main-board div.container div.hot div.slider-tools {
    font-size: 26px;
    font-weight: 600;
  }
}
section.main div.main-board div.container div.hot div.slider-tools .swiper-pagination {
  position: static;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  width: auto;
  font-size: 0.85714286rem;
  line-height: 2rem;
  padding: 0 0.71428571rem;
}
@media (min-width: 1200px) {
  section.main div.main-board div.container div.hot div.slider-tools .swiper-pagination {
    font-size: 15px;
    line-height: 36px;
  }
}
section.main div.main-board div.container div.hot div.slider-tools .swiper3-button-next,
section.main div.main-board div.container div.hot div.slider-tools .swiper3-button-prev {
  position: static;
  display: inline-block;
  margin: 0;
  width: 2rem;
  height: 2rem;
  border: 1px solid #3F434C;
}
@media (min-width: 1200px) {
  section.main div.main-board div.container div.hot div.slider-tools .swiper3-button-next,
  section.main div.main-board div.container div.hot div.slider-tools .swiper3-button-prev {
    width: 36px;
    height: 36px;
  }
}
section.main div.main-board div.container div.hot div.slider-tools .swiper3-button-next.swiper3-button-prev,
section.main div.main-board div.container div.hot div.slider-tools .swiper3-button-prev.swiper3-button-prev {
  background: url(../images/main/arrow_left_m.png) no-repeat center;
  background-size: 0.78571429rem auto;
}
section.main div.main-board div.container div.hot div.slider-tools .swiper3-button-next.swiper3-button-next,
section.main div.main-board div.container div.hot div.slider-tools .swiper3-button-prev.swiper3-button-next {
  background: url(../images/main/arrow_right_m.png) no-repeat center;
  background-size: 0.78571429rem auto;
}
section.main div.main-board div.container div.hot div.hot-slider {
  position: relative;
  background: #fff;
  border: 1px solid #CECECE;
}
@media (min-width: 1200px) {
  section.main div.main-board div.container div.hot div.hot-slider {
    border: none;
  }
}
section.main div.main-board div.container div.hot div.hot-slider div.swiper-wrapper div.swiper-slide {
  width: 100%;
  padding: 1.07142857rem 0;
  text-align: center;
}
@media (min-width: 1200px) {
  section.main div.main-board div.container div.hot div.hot-slider div.swiper-wrapper div.swiper-slide {
    padding: 0;
    width: 288px;
  }
}
section.main div.main-board div.container div.hot div.hot-slider div.swiper-wrapper div.swiper-slide img {
  max-width: 90%;
}
@media (min-width: 1200px) {
  section.main div.main-board div.container div.hot div.hot-slider div.swiper-wrapper div.swiper-slide img {
    max-width: 100%;
    height: 262px;
  }
}
section.main div.main-board div.container div.hot div.hot-slider div.button {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 100;
  width: 1.64285714rem;
}
section.main div.main-board div.container div.hot div.hot-slider div.button.swiper2-button-prev {
  left: 0;
  background: url(../images/main/arrow_left_white_m.png) no-repeat rgba(0, 0, 0, 0.3) center;
  background-size: 1rem auto;
}
section.main div.main-board div.container div.hot div.hot-slider div.button.swiper2-button-next {
  right: 0;
  background: url(../images/main/arrow_right_white_m.png) no-repeat rgba(0, 0, 0, 0.3) center;
  background-size: 1rem auto;
}
section.sub {
  position: relative;
}
@media (min-width: 1200px) {
  section.sub {
    text-align: center;
  }
}
section.sub div.sub-top {
  position: relative;
  border-bottom: 1px solid #E3E3E3;
  height: 8.57142857rem;
  text-align: center;
  padding-top: 2.14285714rem;
  margin-bottom: 1.85714286rem;
  background: url(../images/sub/sub_img_m.jpg) no-repeat center / cover;
}
@media (min-width: 1200px) {
  section.sub div.sub-top {
    padding-top: 50px;
    height: 180px;
    margin-bottom: 50px;
    background: url(../images/sub/sub_img.jpg) no-repeat center / cover;
  }
}
section.sub div.sub-top > strong {
  display: block;
  color: #fff;
  font-weight: 600;
  font-size: 1.71428571rem;
  letter-spacing: -0.14285714rem;
  margin-bottom: 0.42857143rem;
}
@media (min-width: 1200px) {
  section.sub div.sub-top > strong {
    font-size: 36px;
    margin-bottom: 12px;
  }
}
section.sub div.sub-top ul.navigation li {
  display: inline-block;
  font-size: 1rem;
  color: #fff;
}
section.sub div.sub-top ul.navigation li:before {
  content: "";
  display: inline-block;
  width: 0.5rem;
  height: 0.78571429rem;
  margin: 0 0.85714286rem;
  background: url(../images/common/arrow_right_white.svg) no-repeat center / 100% auto;
}
@media (min-width: 1200px) {
  section.sub div.sub-top ul.navigation li {
    font-size: 16px;
  }
}
section.sub div.sub-top ul.navigation li a {
  color: #fff;
}
section.sub div.sub-top ul.navigation li.home:before {
  display: none;
}
section.sub div.sub-top ul.navigation li.home a {
  vertical-align: top;
  display: inline-block;
  position: relative;
  top: 0.21428571rem;
  width: 1.07142857rem;
  height: 0.92857143rem;
  background: url(../images/common/ic_home.svg) no-repeat center / 100% auto;
  font-size: 0;
}
@media (min-width: 1200px) {
  section.sub div.sub-top ul.navigation li.home a {
    top: 5px;
  }
}
section.sub aside {
  display: none;
}
@media (min-width: 1200px) {
  section.sub aside {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    width: 200px;
    margin-right: 60px;
  }
  section.sub aside h3 {
    font-size: 24px;
    border-bottom: 3px solid #3F434C;
    padding: 0 10px 15px 16px;
    font-weight: 500;
  }
  section.sub aside ul {
    margin-top: 20px;
  }
  section.sub aside ul li {
    border-bottom: 1px solid #DEDEDE;
  }
  section.sub aside ul li a {
    display: block;
    position: relative;
    font-size: 16px;
    color: #333333;
    line-height: 53px;
    padding-left: 13px;
    border: 3px solid transparent;
  }
  section.sub aside ul li a.active {
    border-color: #0054A7;
    font-weight: 600;
    color: #0054A7;
  }
  section.sub aside ul li a.active:after {
    content: "";
    display: block;
    position: absolute;
    right: 20px;
    top: 26px;
    width: 9px;
    height: 2px;
    background: #0054A7;
  }
}
@media (min-width: 1200px) {
  section.sub div.sub-contents {
    display: inline-block;
    vertical-align: top;
    text-align: left;
  }
}
@media (min-width: 1200px) {
  section.sub div.sub-contents div.container {
    width: 940px;
    padding: 0;
  }
}
section.sub div.sub-contents div.container h3.stitle {
  font-size: 1.28571429rem;
  color: #3F434C;
  font-weight: 600;
  margin: 0 0 1.42857143rem;
  padding: 0 0 0.57142857rem;
  border-bottom: 1px solid #DEDEDE;
}
@media (min-width: 1200px) {
  section.sub div.sub-contents div.container h3.stitle {
    font-size: 30px;
    padding: 0 0 20px;
    margin: 0 0 50px;
  }
}
section.sub div.sub-contents div.container div.contents-outline {
  min-height: 21.42857143rem;
  padding-bottom: 2.14285714rem;
  font-size: 1rem;
}
footer.footer {
  background: #2E3138;
  color: #C5C5C5;
  padding: 1.78571429rem 0;
}
@media (min-width: 1200px) {
  footer.footer {
    padding: 20px 0;
  }
}
footer.footer div.container div.footer-util {
  padding-bottom: 1.28571429rem;
  margin-bottom: 1.28571429rem;
  border-bottom: 1px solid #3F434C;
}
footer.footer div.container div.footer-util a {
  font-size: 0.85714286rem;
  color: #FFFFFF;
  margin-right: 1.42857143rem;
}
@media (min-width: 1200px) {
  footer.footer div.container div.footer-util a {
    font-size: 15px;
    margin-right: 30px;
  }
}
footer.footer div.container address {
  font-size: 0.85714286rem;
  color: #C5C5C5;
  margin-bottom: 0.71428571rem;
}
@media (min-width: 1200px) {
  footer.footer div.container address {
    font-size: 13px;
  }
}
@media (min-width: 1200px) {
  footer.footer div.container address p {
    display: inline-block;
    margin-right: 20px;
  }
}
footer.footer div.container address p span {
  margin-right: 0.71428571rem;
}
@media (min-width: 1200px) {
  footer.footer div.container address p span {
    margin-right: 20px;
  }
}
@media (min-width: 1200px) {
  div.back.on {
    display: block;
    position: fixed;
    z-index: 100;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
  }
}
